.post-wrap {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
}

#post-aside {
	width: 400px;
	flex: 1 1 auto;
	background-color: #FFF;
	border-left: 1px solid #EAEAEA;
}

#post-content {
	width: 1000px;
	flex: 1 2 auto;
	// background-color: #FFF;
	// border: 1px solid #EAEAEA;
	padding: 0 20px;
	margin: 0 auto;
}

#post-content .post-header {
	text-align: center;
	padding: 30px 0;
	border-bottom: 1px solid #EAEAEA;
}

#post-content .post-header .title {
	font-size: 28px;
	line-height: 42px;
	margin: 0;
}

#post-content .post-header .meta {
	color: #777;
	margin: 0;
	padding-top: 20px;
}

#post-content .post-body {
	font-size: 16px;
	line-height: 30px;
	text-indent: 2em;
	padding: 30px 0;
}