body {
	font-family: 'Microsoft Yahei',"Helvetica Neue",Helvetica,Arial,sans-serif;
	-webkit-font-smoothing: antialiased;
	background-color: #F1F1F1;
    position: relative;
    padding-top: 65px;
    color: #555;
}

a {
	text-decoration: none!important;
}

#app {
	max-width: 2560px;
	margin: 0 auto;
	// position: relative;
}

#back-to-top {
	display: none;
	position: fixed;
	bottom: 0;
	width: 100%;;
	text-align: center;
	z-index: 999;
}

#back-to-top .back {
	display: inline-block;
	letter-spacing: 1px;
	text-align: center;
	padding: 10px 20px;
	background-color: #F7F7F7;
	border: 1px solid #EAEAEA;
	border-bottom: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: #777;
}

#profile {
	width: 300px;
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    padding-top: 50px;
	background-color: #283138;
	color: #BBB;
}

#brand-avatar {
	display: none;
}

#app-nav {
	display: flex;
	flex-flow: row nowrap;
	position: fixed;
	top: 0;
	width: 100%;
	padding-left: 320px;
	height: 50px;
	background-color: #FFF;
	border-bottom: 1px solid #EAEAEA;
	z-index: 300;
}

#app-nav .logo {
	display: inline-block;
	flex: 0 0 auto;
	order: 1;
}

#app-nav .brand {
	display: block;
	float: left;
    height: 50px;
    padding: 0 15px;
    margin-right: 50px;
    font-size: 18px;
    line-height: 50px;
    color: #666;
}

#app-nav .nav {
	flex: 1 1 auto;
	order: 2;
}

#app-nav .menu {
	display: flex;
	justify-content: flex-start;
	list-style-type: none;
	height: 50px;
	font-size: 18px;
	// background-color: gray;
	padding: 0;
	margin: 0;
}

#app-nav .menu li {
	flex: 0 1 auto;
	display: inline-block;
}

#app-nav .menu li a {
	display: block;
	padding: 0 15px;
	// background-color: #f7f7f7;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #666;
}

#artist .avatar {
	border-radius: 50%;
	width: 50%;
	margin-left: 25%;
	border: 5px solid #DDD;
	overflow: hidden;
}

#artist .avatar img {
	width: 100%;
}

#artist .name {
	font-size: 24px;
	color: #F1F1F1;
}

#main {
	padding-left: 320px;
	padding-right: 20px;
	// border: 1px solid #333;
	height: 200vh;
}

.flex-container {
	// height: 300px;
	display: flex;
	flex-flow: row wrap;
	// justify-content: flex-start;
	// background-color: #ddd;
}

.flex-item {
	// flex: auto;
	flex: 1 1 360px;
	order: 10;
}

// 控制顺序置顶
.fixed-item {
	order: 1;
}

.flex-item-holder {
	margin: 0 10px 20px;
}

.card {
	// width: 360px;
	margin: 0 10px 20px;
	background-color: #FFF;
	border-radius: 5px;
	border: 1px solid #EAEAEA;
	overflow: hidden;
}

.post {
	position: relative;
	// background-color: #252525;
}

.post a {
	position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    z-index: 101;
    height: 100%;
}

.post .cat {
	position: absolute;
	top: 15px;
	left: 15px;
	z-index: 99;
	color: #FFF;
	font-weight: bold;
	letter-spacing: 2px;
	padding: 5px 10px;
	// border: 2px solid #FFF;
	background-color: rgba(255, 255, 255, 0.2)
}

.post:hover>.thumb img {
	opacity: 1;
}

.post .thumb {
	position: relative;
	display: inline;
	width: inherit;
	overflow: hidden;
}

.post .focus {
	position: relative;
	background-color: #252525;
	overflow: hidden;
}

.post .thumb img {
	width: 100%;
}

.post .thumb .cover {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.75;
	-moz-transition: opacity 0.25s ease-in;
    -webkit-transition: opacity 0.25s ease-in;
    -o-transition: opacity 0.25 ease-in;
    transition: opacity 0.25s ease-in;
}

.post .post-info {
	padding: 5%!important;
	background-color: #FFF;
}

.post .title {
	font-size: 18px;
	line-height: 1.5em;
	margin: 0 0 10px;
	font-weight: bold;
}

.post .note {
	position: relative;
	text-indent: 2em;
	color: #777;
	line-height: 1.5em;
	height: 7.5em;
	overflow: hidden;
}

.post .note::after{
	content: "....";
	letter-spacing: 2px;
	color: #BBB;
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 0 30px;
	background: -webkit-linear-gradient(left, transparent, #fff 55%);
	background: -o-linear-gradient(right, transparent, #fff 55%);
	background: -moz-linear-gradient(right, transparent, #fff 55%);
	background: linear-gradient(to right, transparent, #fff 55%);
}

@media (max-width: 768px) {
body {
	padding-top: 55px;
}

#profile {
	display: none;
}

#main {
	padding: 0;
}

#app-nav {
	padding-left: 60px;
	height: 40px;
}

#app-nav .logo {
	display: none;
}

#app-nav .menu {
	font-size: 14px;
	height: 30px;
}

#app-nav .menu li {
	flex: 1 1 auto;
}

#app-nav .menu li a {
	height: 40px;
	line-height: 40px;
	padding: 0;
}

#brand-avatar {
	display: block;
	z-index: 301;
	position: fixed;
	top: 0;
	left: 0;
	width: 60px;
	border: 2px solid #EAEAEA;
	border-bottom-right-radius: 5px;
	overflow: hidden;
}

#brand-avatar img {
	width: 100%;
}

#brand-avatar span {
	display: block;
	background-color: #FFF;
	width: 100%;
	text-align: center;
	font-size: 10px;
	line-height: 12px;
	padding: 0;
}

.card {
	margin: 0 0 20px 0;
	border-radius: 0;
}

.post .post-info {
	padding: 3%!important;
	background-color: #FFF;
}

}